<div class="workspace-skeleton">
    <div class="container mt-5">
        <div class="row card-row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 order-0 mb-4">
                <div class="card" style="min-height: 120px;">
                    <div class="card-body green-card">
                        <span class="title-card title-white"> Total Employees</span>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="dash-static">{{ total_employee }}</p>
                            <div class="rect-arrow">
                                <img src="/assets/safty_theme/images/arrow-stat.png">
                                <span class="stat-percentage">+8%</span>
                            </div>
                        </div>
                        <span class="title-card title-white"> Employee</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 order-0 mb-4">
                <div class="card" style="min-height: 120px;">
                    <div class="card-body">
                        <span class="title-card"> Employees New join</span>
                        <div class="period-div"><span>yearly</span></div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="dash-static green-color">{{ total_new_join }}</p>
                            <div class="rect-arrow green-percentage">
                                <img src="/assets/safty_theme/images/green-arrow.png">
                                <span class="stat-percentage green-per">+9%</span>
                            </div>
                        </div>
                        <span class="title-card"> Employee</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 order-0 mb-4">
                <div class="card" style="min-height: 120px;">
                    <div class="card-body">
                        <span class="title-card"> Employees left</span>
                        <div class="period-div"><span>yearly</span></div>

                        <div class="d-flex align-items-center justify-content-between">
                            <p class="dash-static green-color">{{ employees_left }}</p>
                            <!-- <div class="rect-arrow green-percentage">
                            <img src="/assets/safty_theme/images/green-arrow.png">
                            <span class="stat-percentage green-per">+9%</span>
                        </div> -->
                        </div>
                        <span class="title-card"> Employee</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 order-0 mb-4">
                <div class="card" style="min-height: 120px;">
                    <div class="card-body">
                        <span class="title-card"> Total Applicant</span>
                        <div class="period-div"><span>monthly</span></div>

                        <div class="d-flex align-items-center justify-content-between">
                            <p class="dash-static green-color">{{ total_applicant }}</p>
                            <div class="rect-arrow green-percentage">
                                <img src="/assets/safty_theme/images/green-arrow.png">
                                <span class="stat-percentage green-per">+7</span>
                            </div>
                        </div>
                        <span class="title-card"> Employee</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="head-title">Attendance</span>
        </div>
        <div class="row"><span class="dash-title">Total Number Employees is active = <span
                    class="bold-green">{{total_active_employee}}</span></span></div>
        <div class="row">

            <!-- ------- Tab -------- -->
            <div class="col col-lg-7 col-md-12 col-sm-12 custom-tabs">

                <div class="tabs">
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                        <label for="tab-1" class="tab-label">Active</label>
                        <div class="tab-content-dashboard">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>active</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                        <label for="tab-2" class="tab-label">Vacation</label>
                        <div class="tab-content-dashboard">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>vacation</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>vacation</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>vacation</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>vacation</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>vacation</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>vacation</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                        <label for="tab-3" class="tab-label">Inactive</label>
                        <div class="tab-content-dashboard">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>Inactive</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>Inactive</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>Inactive</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>Inactive</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>Inactive</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="index">1. </th>
                                        <td class="name-color">Ahmed ali</td>
                                        <td class="pos-color">Product Manger</td>
                                        <td>
                                            <div class="lable-button">
                                                <span>Inactive</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------ Apex chart ----------- -->
            <div class="col col-lg-5 col-md-12 col-sm-12 sales-chart">
                <div id="chart">
                    <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
                </div>
            </div>

        </div>
    </div>

</div><!--workspace-skeleton-->